{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">


  <title>Setear Valores Acara</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="{%  static 'styles/bootstrap.css' %}" rel="stylesheet" type="text/css">
  <link href="{% static 'styles/styles.css' %}" rel="stylesheet" type="text/css">
  <link rel="icon" href="https://landinginteligente.com/fotos/util/Logos/Logo-soybot.jpg">
</head>

<body>
  <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
  <div class="container bootstrap snippets bootdeys">
    <div class="row">
      <div class="col-xs-12 col-sm-9">
        <form action="/webScraping/processedAcara/" class="form-horizontal" method="post">
            {% csrf_token %}
          <div class="panel panel-default">
            <div class="panel-body text-center">
              <img src="https://landinginteligente.com/fotos/util/Logos/Logo-soybot.jpg" class="img-circle profile-avatar"
                alt="User avatar">
            </div>
          </div>
          <div class="panel panel-default">
            <div class="panel-heading">
              <h4 class="panel-title">INFORMACION DEL SPREADSHEET</h4>
            </div>
            <div class="panel-body">
              <div class="form-group">
                <label class="col-sm-2 control-label">Nombre del Spreadsheet</label>
                <div class="col-sm-10">
                  <input name="spreadsheet_name" type="text" class="form-control" value="{{ spreadsheet_name }}" required>
                </div>
              </div>
                <div class="form-group">
                <label class="col-sm-2 control-label">Nombre de la hoja</label>
                <div class="col-sm-10">
                  <input name="sheet_name" type="text" class="form-control" value="{{ sheet_name }}" required>
                </div>
              </div>
            </div>
          </div>
              <div class="form-group">
                <div class="col-sm-10 col-sm-offset-2">
                    <button type="submit" class="btn btn-primary">Aceptar</button>
                    <button type="reset" class="btn btn-default">Limpiar</button>
                </div>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
  <script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
  <script src="https://netdna.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <script type="text/javascript">

  </script>
</body>

</html>